@tailwind base;
@tailwind components;
@tailwind utilities;

#tsparticles {
  position: fixed;
  z-index: -1;
}

.custom-card {
  @apply rounded-lg bg-gray-300;
  width: 18.75em;
  &:hover {
    border: 1px solid black;
    transition: ease-in-out 0.5s;
  }
}

.vh-85 {
  height: 85vh;
}